*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



h1{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
}

.btn{
    display: flex;
    justify-content: space-around;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


button{
    width: 200px;
    height: 60px;
    border-radius: 30px;
    border: none;
    gap: 10px;
}
