*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



h1{
    margin-top: 30px;
    text-align: center;
    font-size: 70px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
}

.btn{
    display: flex;
    justify-content: space-around;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

*{
    background-color: #2c303d;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


button{

    width: 200px;
    height: 60px;
    border-radius: 30px;
    border: none;
    gap: 10px;
    background-color: #a8c7fa;
    color: black;
    font-size: 25px;
    font-weight: bolder;
}


button:hover{
    background-color: white;
}