*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFF2C2
}

h1{
    font-size: 100px;
    text-align: center;
}

p{
    text-align: center;
}

.num{
    font-size: 100px;
    text-align: center;
    height: 200px;
    margin-top: 40px;
}



.btn{
    width: 200px;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;
    gap: 10px;
    border: none;

}

.btn:hover{
    transform: scale(1.05);
}



.final{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
}

#decrease{
    background-color: red;
    color: white;


}


#increase{
    background-color: green;
    color: white;
}

#reset{
    background-color: gray;
    color: white;
}