*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: #f4f4f9;
}

.container{
    background-color: white;
    height: auto;
    width: 900px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 20px auto;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.input{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto  ;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.list{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
}

#inputArea{
    width: 100%;
    height: 50px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    color: #333;
    font-size: 16px;
    border-radius: 5px;
}

#btn{
    width: 200px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

#btn:hover{
    background-color: #45a049;
}

thead{
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even){
    background-color: #f9f9f9;
}

.sno{
    width: 50px;
}

table,th,td{
    border: 1px solid #ddd;
    border-collapse: collapse;
    text-wrap: wrap;
}


th{
    font-size: 18px;
}

td{
    font-size: 16px;
}

.task{
    width: 670px;
}


.deleterow{
    width: 76px;
    height: auto;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
}


.deleterow:hover{
    background-color: #e53935;
}


.heading{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    width: 900px;
    background-color: white;
    padding-top: 10px;
    border-radius: 10px;
    color: #333333;
    font-size: 24px;
}



.strikethrough {
    background-color: #d3d3d3; 
    opacity: 0.6; 
    text-decoration: line-through;
}

