*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    margin-top: 50px;

    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: auto;
    border-radius: 25px;
    border: 1px solid grey;
    background-color: #F7F9FC;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.heading{
    text-align: center;
    color: #2C3E50 ;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
}

.addItem{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    
}

#add{
    width: 250px;
    height: 45px;
    border-radius: 20px;
    border: none;
    font-size: 25px;
    background-color: #45A049;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#item{
    width: 400px;
    height: 40px;
}


.list{
    display: flex;
    justify-content: left;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.thelist{
    width: 700px;
}


ul{
    list-style-type: decimal;
}


.clear{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
}

#clearList{
    width: 250px;
    height: 45px;
    border-radius: 20px;
    border: none;
    font-size: 25px;
    background-color: #F16A70 ;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}